<section class="s-fav">
  <div class="fav-container">
    <div class="card" data-id="">
      <img src="" class="img-fluid poster" />
      <div class="stats">
        <i class="fas fa-eye s-count"></i>
        <i class="fas fa-heart s-count"></i>
        <i class="fas fa-heart-broken s-count"></i>
        <i class="fas fa-comment-alt s-count"></i>
      </div>
      <div class="card-body c-text">
        <h5 class="card-title text-right c-title"></h5>
        <a [href]="[ '/details/']" class="btn btn-primary btn-more">More...</a>
      </div>
    </div>
  </div>
</section>