<section class="s-details">
  <div class="details-card">
    <div class="details-image" [style.background-image]="'url(' + selectedCardID?.snippet?.thumbnails?.high?.url + ')'">
    </div>
    <div class="card-body">
      <div class="details-heading d-flex">
        <h5 class="details-title">{{selectedCardID?.snippet?.title}}</h5>
        <p class="details-date">{{this.date}}</p>
      </div>
      <div class="details-description">
        <h5 class="description-heading">Description:</h5>
        <p class="details-text card-text">{{selectedCardID?.snippet?.description}}</p>
      </div>
      <div class="details-bottom">
        <div class="details-stats">
          <i class="fas fa-eye s-count">"n/a"</i>
          <i class="fas fa-heart s-count">"n/a"</i>
          <i class="fas fa-heart-broken s-count">"n/a"</i>
          <i class="fas fa-comment-alt s-count">"n/a"</i>
        </div>
      </div>
    </div>
  </div>
</section>